@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --bg: white;
  --text: #05050a;
  --gradient: linear-gradient(135deg, #6272f5 0%, #b853f5 100%);
  --lightGray: #656865;
  --primary:#060910;
}

html.dark {
  --bg: radial-gradient(circle at 60% 50%, #0d0b18 0%, #05050a 100%);
  --text: white;
}

@layer utilities {
  .theme-bg {
    background-color: var(--bg);
  }
  .theme-text {
    color: var(--text);
  }
  .theme-box {
    background-color: var(--bg);
    color: var(--text);
    transition:
      background 0.3s ease,
      color 0.3s ease;
  }
  .theme-shadow {
    box-shadow: 0 0 3px 0 #6272f5;
  }
}

body {
  background:var(--bg);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}


/* pagination swiper */
.project-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: gray;
  opacity: 1;
  display: inline-block;
}

.project-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(135deg, #6272f5 0%, #b853f5 100%);
}

/* pagination swiper */